{
  "openapi": "3.0.3",
  "servers": [
    {
      "url": "https://api.exchange.bullish.com/trading-api",
      "description": "PRODUCTION"
    },
    {
      "url": "https://registered.api.exchange.bullish.com/trading-api",
      "description": "PRODUCTION"
    },
    {
      "url": "https://prod.access.bullish.com/trading-api",
      "description": "PRODUCTION (Direct Connect)"
    },
    {
      "url": "https://api.bugbounty.bullish.com/trading-api",
      "description": "SECURITY SANDBOX"
    },
    {
      "url": "https://api.simnext.bullish-test.com/trading-api",
      "description": "API SANDBOX"
    },
    {
      "url": "https://registered.api.simnext.bullish-test.com/trading-api",
      "description": "API SANDBOX"
    },
    {
      "url": "https://simnext.access.bullish.com/trading-api",
      "description": "API SANDBOX (Direct Connect)"
    }
  ],
  "info": {
    "description": "# Overview\n\nWelcome to the _Bullish Trading API_ documentation!\n\nThis documentation provides resource descriptions and endpoints usage instructions for the API.\n\nThe API:\n- follows [REST](https://en.wikipedia.org/wiki/Representational_state_transfer) conventions\n- has the base URL `api.exchange.bullish.com` (unless one of the sandbox environments is being used)\n- has endpoints under the below categories:\n  - Authenticated endpoints for private client data e.g. [Get Orders](#get-/v2/orders) endpoint\n  - Non-authenticated endpoints for public data e.g. [Get Markets](#get-/v1/markets) endpoint\n- uses bearer-based authentication\n- enforces a blanket rate limit across all requests\n- may add new fields to existing response payloads. Please do not use strict deserialisation as it may cause compatibility issues.\n\n# Additional Links\n\n- Code examples - [Bullish Github Repository](https://github.com/bullish-exchange)\n- Deprecated features & APIs - [Deprecated Features Documentation](.././deprecated/index.html)\n- Help center - [Bullish Help Center](https://support.bullish.com)\n- Comprehensive guide for new Institutional users - [Institutional User Guide](https://support.bullish.com/hc/en-us/articles/28811587741721-Comprehensive-New-User-Guide-for-Institutions#h_01HPQBYXD72K2M2CRSRXQ5YEWG)\n- Various order/custody status codes - [Error & Rejection Codes](https://github.com/bullish-exchange/api-docs/wiki/Error-&-Rejection-Codes)\n- Operational status of our exchange - [official status page](https://bullish.statuspage.io/)\n\n\n# Connectivity Options\n\nIn GCP, generally our most optimal connection is to operate within asia-southeast1-a Availability Zone. \nPlease note, this may change at any given moment and without warning to another Availability Zone within asia-southeast1 for operational reasons. \nFor AWS or GCP connectivity details, please contact your sales representative\n\n# FIX API\n\nThe FIX API is available to institutional clients and is only accessible through a AWS or GCP private connection:\n- AWS PrivateLink\n  - It provides private connectivity between VPCs, AWS service without exposing your traffic to the public internet. \n  Bullish will provide the published service IDs for this service. You will be able to connect to our FIX service endpoint once the connection has been successfully established.\n- GCP Private Service Connect\n  - It allows customers to access managed services privately from inside their VPC network.\n  Bullish will provide the published service IDs for this service. You will be able to connect to our\n  FIX service endpoint once the connection has been successfully established.\n\n\nFor more details please refer to the full specification:\n- [Bullish FIX Protocol Specification](../../fix-api/Bullish%20FIX%20Protocol%20Specification%20v1.0.13.pdf)\n- [Bullish FIX Protocol Dictionary](../../fix-api/fix-dictionary.xml) \n- [Bullish FIX CRT Certificate](../../fix-api/bullish.crt) \n\n# Exchange Time\n\nAll timestamps are specified in [EPOCH time](https://en.wikipedia.org/wiki/Unix_time).\n\n# Pagination Support\n\nIf specified in the API documentation, an endpoint may return cursor paginated responses. Default page size is 25.\n\nThere are 4 special query parameters used to control the pagination behaviour.\n- `_pageSize` can be one of `5, 25, 50, 100`, default value is `25`\n- `_metaData` can be false/true, if false the links are NOT part of the response. explicitly set `_metaData=true` to guarantee links are returned.\n- `_nextPage` cursor to the next page. It is provided in the paginated response when `_metaData=true`.\n- `_previousPage` cursor to the previous page. It is provided in the paginated response when `_metaData=true`.\n\nThe paginated data is returned in the following wrapped format with generated links to the previous and next pages:\n```json\n{\n  \"data\": [\n    {\n      \"averageFillPrice\": null,\n      \"baseFee\": \"0.00000000\",\n      \"createdAtDatetime\": \"2018-11-18T00:00:00.000Z\",\n      \"createdAtTimestamp\": \"1639464207402\",\n      \"handle\": null,\n      \"margin\": false,\n      \"orderId\": \"390755652232282113\",\n      \"price\": \"8520.7000\",\n      \"quantity\": \"1.00000000\",\n      \"quantityFilled\": \"0.00000000\",\n      \"quoteAmount\": \"0.0000\",\n      \"quoteFee\": \"0.0003\",\n      \"side\": \"BUY\",\n      \"status\": \"OPEN\",\n      \"statusReason\": \"Open\",\n      \"statusReasonCode\": \"6001\",\n      \"stopPrice\": null,\n      \"symbol\": \"BTCUSD\",\n      \"timeInForce\": \"GTC\",\n      \"type\": \"LMT\"\n    },\n    ...\n  ],\n  \"links\": {\n    \"next\": \"/trading-api/v1/orders?_pageSize=5&symbol=BTCUSD&_nextPage=Mjk3NzM1MzQ5NDI0NjIwMDMy\",\n    \"previous\": \"/trading-api/v1/orders?_pageSize=5&symbol=BTCUSD&_previousPage=Mjk3NzM1Mzg3NzQ3OTc1Njgw\"\n  }\n}\n```\n\n\n# Filtering Support\n\n- If specified in the API documentation, an endpoint may support filters on specific fields and values e.g. `GET /orders?status=OPEN`     \n- Only fields returned in an API response may be used as filter parameters. What you see is what you query on and by.\n- For the fields in the API response usable as filter parameters, please consult the API endpoint of interest.\n- Datetime and timestamp filters require additional keywords from this list - `[ gte, lte, gt, lt ]`. A few examples are provided below.\n  - `/trading-api/v1/trades?createdAtTimestamp[gte]=1686447835000` queries for trades with `createdAtTimestamp` \n    greater than or equal to `1686447835000`.\n  - `/trading-api/v1/trades?createdAtDatetime[gte]=2023-04-06T00:00:00.000Z&createdAtDatetime[lte]=2023-06-07T00:00:00.000Z` \n    queries for trades with `createdAtDatetime` greater than or equal to `2023-04-06T00:00:00.000Z` but less than or equal to `2023-06-07T00:00:00.000Z`\n- By design, pagination query parameters start with an underscore. This differentiates them from filter query parameters e.g. `GET /orders?status=OPEN&_pageSize=25`\n\n# Rate Limits\n\n## Public Endpoints\n\nThe below mentioned public endpoints will be rate limited. For more information please reach out to your Bullish customer support.\n\n- [/trading-api/v1/markets](#get-/v1/markets) and subpaths\n- [/trading-api/v1/market-data](#overview--multi-orderbook-websocket-unauthenticated) and subpaths\n- [/trading-api/v1/history/markets](#get-/v1/history/markets/-symbol-/trades) and subpaths\n- [/trading-api/v1/assets](#get-/v1/assets) and subpaths\n- [/trading-api/v1/index-prices](#get-/v1/index-prices) and subpaths\n- [/trading-api/v1/index-data](#overview--index-data-websocket-unauthenticated) and subpaths\n\n## Private Endpoints\n\nAPI endpoints denoted by `Ratelimited: True` in the description are also subject to rate limits.\ne.g. [Create Order](#post-/v2/orders). The API endpoints fall under the below categories. The rate limit for each category is *independently* applied.\n\n- Unauthenticated endpoints, rate limited at 50 requests per second.\n- Authenticated `/orders` endpoints, rate limited at 50 requests per second.\n- Other Authenticated endpoints, rate limited at 50 requests per second.\n\n### Rate Limits per IP address\n\nEach IP address is subject to a blanket rate limit of 500 requests per 10 seconds (approximately 50 requests per second).\nIf an IP address is rate limited, the http response status code will be `429 Too Many Requests` and the IP address\nis blocked from making any requests for 60 seconds.\n\n### Global Rate Limit\n\nThe global rate limit is an additional rate limit specific to the exchange. It is used to help limit the flow of orders into the exchange. It affects all clients fairly. \nWhen the global rate limit is breached the `x-ratelimit-global-breach` header value will be set to `true` else `false`.\n\n### Rate Limits Info\n\nWhen rate limits are not exceeded, the http response header of the API endpoint called will contain the below:\n- `x-ratelimit-limit`: Maximum number of requests allowed for the specific API category within time period.\n- `x-ratelimit-remaining`: Remaining number of requests allowed for the specific API category within time period.\n- `x-ratelimit-reset`: The next time period in which `x-ratelimit-remaining` is reset back to the maximum allowed for the specific API category.\n- `x-ratelimit-global-breach`: true/false, indicating whether the global limit has been breached.\n\n### Exceeding Rate Limits\nWhen rate limits are exceeded, the API endpoint will return the http response status code `429 Too Many Requests` and the http response body will be:\n```json\n  {\n    \"errorCode\": 96000,\n    \"errorCodeName\": \"RATE_LIMIT_EXCEEDED\",\n    \"message\": \"Rate limit exceeded\"\n  }\n```\n\n### Exceeding The Global Rate Limit\nWhen the global rate limit is exceeded, the API endpoint will return the http response status code `429 Too Many Requests` and the http response body will be:\n```json\n  {\n    \"errorCode\": 96001,\n    \"errorCodeName\": \"GLOBAL_RATE_LIMIT_EXCEEDED\",\n    \"message\": \"Global rate limit exceeded\"\n  }\n```\n\n### Increasing Rate Limits\n\nFor more information on increasing your rate limits, please reach out to your sales representative.\n\n### Obtaining Your Rate Limit Token\n\nEach trading account has a unique rate limit token that can be obtained by querying [Get Trading Accounts](#get-/v1/accounts/trading-accounts).\nThe rate limit token must be provided in the HTTP request header `BX-RATELIMIT-TOKEN` to enjoy higher tiers of rate limits \nelse the default of 50 msgs/sec is applied.\n\n# Price And Quantity Precision\n\nA market consists of two assets, namely base asset and quote asset.\nFor instance, the `BTCUSD` market has `BTC` as base asset and `USD` as quote asset.\nThe price of a market is denominated in the quote asset, while the quantity is denominated in the base asset.\nFor instance, the price in `BTCUSD` market is in `USD` while the quantity is in `BTC`. \nEach asset has its own precision. For this, the below asset APIs can be queried.\n\n- The [Get Assets](#get-/v1/assets) API endpoint for all supported asset symbols\n- The [Get Asset By Symbol](#get-/v1/assets/-symbol-) API endpoint for a specific asset symbol\n\nThe precision of an asset is the number of decimal places used to express its value in.\nFor instance, the quantity in the market `BTCUSD` is in BTC. As BTC has a precision of 8, the quantity in `BTCUSD` has 8 decimal places.\nIt follows that in order to express a quantity of 1 BTC in `BTCUSD` market, it has to be `1.00000000` BTC.\n\nAlternatively, the below market APIs can also be queried to obtain the price and quantity precisions for different markets.\n\n- The [Get Markets](#get-/v1/markets) API endpoint for all supported market symbols\n- The [Get Market By Symbol](#get-/v1/markets/-symbol-) API endpoint for a specific market symbol\n\nFollowing the logic outlined above, \n- The precision for quantity is defined by the `basePrecision`\n- The precision for price is defined by `quotePrecision`\n\n\n# Numeric Identifier Contraints\n\nNumeric (i64) identifiers such as `nonce` and `handle` should not have leading zero's. For example `009990822212000000` is invalid but `9990822212000000` is valid.\n\n# Order timeInForce\n\nThe order `timeInForce` can be set to the following values:\n- `GTC` - good until cancelled - the order is open forever unless fully filled or cancelled\n- `FOK` - fill or kill - if the order cannot immediately be filled in full it is cancelled\n- `IOC` - immediate or cancel - the order is immediately filled in full or in part and any remainder is cancelled\n\n# Error & Rejection Codes\n\nDetails of `statusReasonCode` and `statusReason` can be referenced from [Error & Rejection Codes](https://github.com/bullish-exchange/api-docs/wiki/Error-&-Rejection-Codes) \n\n# Authentication\n\nThe API uses bearer based authentication. A JWT token is valid for 24 hours only. To generate a JWT token see - [Generate A JWT Token](#overview--generate-a-jwt-token)\n\n# How To Send Authenticated Requests\n\nTo send an authenticated request, you must follow these steps:\n1. [Generate An API Key](#overview--generate-an-api-key)\n2. [Add Authenticated Request Header](#overview--add-authenticated-request-header)\n3. [Generate A JWT Token](#overview--generate-a-jwt-token)\n4. [Construct The BX-NONCE Header](#overview--construct-the-bx-nonce-header)\n5. [Construct The Command You Want To Send](#overview--construct-the-command-you-want-to-send)\n6. [Construct The BX-SIGNATURE Header](#overview--construct-the-bx-signature-header)\n7. [Fetch Trading Account Ids](#overview--fetch-trading-account-ids)\n8. [Send The HTTP Authenticated Request](#overview--send-the-http-authenticated-request)\n9. [How To Ensure The Order Of *Create Order* or *Cancel Order* Requests](#overview--how-to-ensure-the-order-of-create-order-or-cancel-order-requests)\n10. [How do EMS/Brokers Flag Their Executions Sent To Bullish](#overview--how-do-emsbrokers-flag-their-executions-sent-to-bullish)\n\n## Generate An API Key\n\nA prerequisite to generate API keys is to have a Bullish account. To generate an API key follow these steps:\n\n1. Log in into your Bullish account\n2. Click on your account initials at the upper right corner and then click **Settings**\n3. Click **API Keys** and then click **Add API Key**\n4. Select the API Key type, either ECDSA or HMAC\n5. Enter a key name in the *Key Name* field\n6. Adding an IP whitelist is optional. Should an IP whitelist be added, login requests must be from within the IP whitelist range.\n7. Click *Generate API Key*\n\n### HMAC API Key Notes\n\n- A HMAC API Key is a shared secret key that is used for HMAC based signing of trading API requests\n- Always store your HMAC secret in a secure medium as they are used to sign your requests. Do not share your HMAC secret in any publicly accessible areas such as code repositories, client side code, or other vulnerable areas and make sure the keys are not shipped with your mobile or web apps.\n- You do not need the `metadata` string to extract your `userId` like you would a Bullish API Key\n- HMAC API Keys can only be used for Trading on Bullish; the JWT generated using an HMAC API Key is only valid for trading endpoints.\n\n### ECDSA API Key Notes\n\n- An ECDSA API key is a public/private key pair used for ECDSA based signing of trading and custody API requests\n- The private key is what you will use to sign your requests. Always store your private keys in a secure medium as they are used to sign your requests. Do not share your private keys in any publicly accessible areas such as code repositories, client side code, or other vulnerable areas and make sure the keys are not shipped with your mobile or web apps.\n- From here on the:\n  - public key will be referred to as `PUBLIC_KEY`\n  - private key will be referred to as `PRIVATE_KEY`\n- Key and signature format details:\n  - Curve: ECDSA R1 (prime256v1/secp256r1/P-256)\n  - Signature encoding: DER\n  - Hashing Algorithm: SHA256\n  - Key format: X.509 SubjectPublicKeyInfo format, PEM encoded\n\nAn ECDSA API key additionally has a `metadata` string associated with it which is displayed along side the key.\nYou must base64 decode the `metadata` to extract your `userId` (example follows). You will need the `userId` in the next step.\n\n```shell\necho eyJwdWJsaWNLZXkiOiJQVUJfUjFfNWNpVW52TW5rVThMOVBCWnZaa1BGcjhqdkRnUHpzcHhWNGlqOThIN1JqM1FSNzJyMkEiLCJhY2NvdW50SWQiOjIyMjAwMDAwMDAwMDAwNCwiY3JlZGVudGlhbElkIjoiMTAifQ== | base64 --decode\n{\"publicKey\":\"PUB_R1_5ciUnvMnkU8L9PBZvZkPFr8jvDgPzspxV4ij98H7Rj3QR72r2A\",\"userId\":\"12345\",\"accountId\":\"12345\",\"credentialId\":\"10\"}\n```\n\n## Add Authenticated Request Header\n\nEach authenticated request must include a `Authorization` header:\n  - `Authorization: Bearer <JWT_TOKEN>`\n\nThe JWT is valid for 24 hours.\n\n## Generate a JWT Token\n### Bullish API Key\n#### **`Deprecated`** [[more info](.././deprecated/index.html#overview--bullish-key)]: *Existing Bullish API key will no longer be usable as of `28 June, 2024`*\nTo generate/get a JWT token for a Bullish API Key you will need to perform the following request:\n\n#### POST /trading-api/v2/users/login\n\n- Body\n  - `publicKey` - bullish account public key\n  - `userId` - bullish user id corresponding to the metadata\n  - `signature` - signed JSON string encoding of `loginPayload`, see the code sample for how to get it\n  - `expirationTime` - epoch timestamp in seconds that is 5 minutes in the future\n  - `nonce` - epoch timestamp in seconds; note this login API nonce has no connection to the orders API nonce\n  - `biometricsUsed` - set to `false`\n  - `sessionKey` - set to `null`\n\n```json\n{\n  \"publicKey\": \"<PUBLIC_KEY>\",\n  \"signature\": \"<SIGNATURE>\",\n  \"loginPayload\": {\n    \"userId\": \"100008771\"\n    \"nonce\": 1638776636,\n    \"expirationTime\": 1638776936,\n    \"biometricsUsed\": false,\n    \"sessionKey\": null\n  }\n}\n```\n\n- Response\n\n```json\n{\n  \"authorizer\": \"<AUTHORIZER>\",\n  \"token\": \"<JWT_TOKEN>\"\n}\n```\nSee [generate JWT](https://github.com/bullish-exchange/api-examples/blob/master/session) for sample Python scripts.\n\n### HMAC API Key\nTo generate/get a JWT token for a HMAC API Key you will need to perform the following request:\n\n#### GET /trading-api/v1/users/hmac/login\n\n- Response\n\n```json\n{\n  \"authorizer\": \"<AUTHORIZER>\",\n  \"token\": \"<JWT_TOKEN>\"\n}\n```\n\nYou will need to provide a series of headers along with the request in order to successfully generate a JWT token.\n\n- `BX-TIMESTAMP` - number of milliseconds since EPOCH\n- `BX-NONCE` - client side incremented 64-bit unsigned integer\n- `BX-PUBLIC-KEY` - Public key for the HMAC Key being used to generate the JWT\n- `BX-SIGNATURE` - The signed message related to the login request. Outlined below\n\nTo sign the login request for an HMAC API Key login we will need to construct a string that concatenates the following fields:\n- timestamp - value provided for the `BX-TIMESTAMP` header\n- nonce - value provided for the `BX-NONCE`\n- request method - `GET`\n- request path - `/trading-api/v1/users/hmac/login`\n\nSee [generate JWT](https://github.com/bullish-exchange/api-examples/blob/master/session/generate_jwt_hmac.py) for a sample Python script.\n\n### ECDSA API Key\nTo generate/get a JWT token for a ECDSA API Key you will need to perform the following request:\n\n#### POST /trading-api/v2/users/login\n\n- Body\n  - `publicKey` - ECDSA public key; new line characters should be UNIX encoded (\\n, not \\r\\n or \\r)\n  - `userId` - bullish user id corresponding to the metadata\n  - `signature` - signed JSON string encoding of `loginPayload`, see the code sample for how to get it\n  - `expirationTime` - epoch timestamp in seconds that is 5 minutes in the future\n  - `nonce` - epoch timestamp in seconds; note this login API nonce has no connection to the orders API nonce\n  - `biometricsUsed` - set to `false`\n  - `sessionKey` - set to `null`\n\n```json\n{\n  \"publicKey\": \"<PUBLIC_KEY>\",\n  \"signature\": \"<SIGNATURE>\",\n  \"loginPayload\": {\n    \"userId\": \"100008771\"\n    \"nonce\": 1638776636,\n    \"expirationTime\": 1638776936,\n    \"biometricsUsed\": false,\n    \"sessionKey\": null\n  }\n}\n```\n\n- Response\n\n```json\n{\n  \"authorizer\": \"<AUTHORIZER>\",\n  \"token\": \"<JWT_TOKEN>\"\n}\n```\nSee [generate JWT](https://github.com/bullish-exchange/api-examples/blob/master/session/generate_jwt_ecdsa.py) for a sample Python script.\n\n## Logout using a JWT Token\nUsers can better manage their sessions by logging out of unused sessions. This can be done by calling the `GET /trading-api/v1/users/logout` endpoint with the JWT Token in the header - see [Add Authenticated Request Header](#overview--add-authenticated-request-header).\n\n## Construct The BX-NONCE Header\n\nThe header `BX-NONCE` value is a unique client-side 64-bit unsigned integer. It has the following characteristics:\n\n- Each request the client sends how have incrementing `BX-NONCE` value\n- To prevent a client to send the max value of a 64-bit unsigned integer and thus immediately exhaust all unique nonces\nthe exchange will only accept a nonce within a specified range\n- The lower and upper bounds of the current nonce range are specified by nonce endpoint e.g. `GET /nonce`\n- The nonce range is updated daily\n- The nonce `lowerBound` is the start of day EPOCH timestamp in micro seconds\n- The nonce `upperBound` is the end of day EPOCH timestamp in micro seconds\n\n## Construct The Command You Want To Send\n\nEach authenticated request contains a `<COMMAND>` to be executed by the API.\nA `<COMMAND>` has the following properties:\n\n  - A `<COMMAND>` is JSON encoded\n  - Every field in the JSON payload must have a value. Use `null` to represent the absence of a value\n  - The fields must be specified and encoded in the order presented in this documentation\n\nFind below two `<COMMAND>` examples:\n1. [Create Spot Order](#overview--create-spot-order-example)\n2. [Create Margin Order](#overview--create-margin-order-example)\n2. [Cancel Order](#overview--cancel-order-example)\n\n### Create Spot Order Example\n\nTo create a Spot buy limit order:\n- for the BTCUSD market\n- at a price of `55071.5000`\n- for a quantity of `1.87000000`\n- with a time-in-force of `GTC` (good till cancelled)\n\nThe COMMAND would be constructed like below:\n\n```json\n{\n  \"timestamp\": \"<TIMESTAMP>\",\n  \"nonce\": \"<NONCE>\",\n  \"authorizer\": \"<AUTHORIZER>\",\n  \"command\": {\n    \"commandType\": \"V2CreateOrder\",\n    \"handle\": null,\n    \"symbol\": \"BTCUSD\",\n    \"type\": \"LMT\",\n    \"side\": \"BUY\",\n    \"price\": \"55071.5000\",\n    \"stopPrice\": null,\n    \"quantity\": \"1.87000000\",\n    \"timeInForce\": \"GTC\",\n    \"allowMargin\": false,\n    \"tradingAccountId\": \"111234567890\" \n  }\n}\n```\n\n### Create Margin Order Example\n\nWith reference to the same payload in [Create Spot Order](#overview--create-spot-order-example), setting the field `allowMargin` to `true` will make it a margin order.\n\nDocumentation is available [here](https://github.com/bullish-exchange/api-docs/blob/master/src/trading-api/next/websocket-private-data-update-messages-for-borrowers.pdf) on what happens in the event of liquidation.\n\n### Cancel Order Example\n\nTo cancel a buy limit order:\n- for the BTCUSD market\n- where the `orderId` is `390755251743358977`\n\nThe COMMAND would be constructed like below:\n\n```json\n{\n  \"timestamp\": \"<TIMESTAMP>\",\n  \"nonce\": \"<NONCE>\",\n  \"authorizer\": \"<AUTHORIZER>\"\n  \"command\": {\n    \"commandType\": \"V2CancelOrder\",\n    \"orderId\": \"390755251743358977\",\n    \"handle\": null,\n    \"symbol\": \"BTCUSD\",\n    \"tradingAccountId\": \"111234567890\"\n  }\n}\n```\n### Add Amm instruction \n\n```json\n{\n  \"timestamp\": \"1621490985000\",\n  \"nonce\": \"123456789\",\n  \"authorizer\": \"03E02367E8C900000500000000000000\",\n  \"command\": {\n    \"commandType\": \"V2AddLiquidity\",\n    \"symbol\": \"BTCUSD\",\n    \"baseQuantity\": \"0.00000000\",\n    \"quoteQuantity\": \"0.00000000\",\n    \"upperBound\": \"14000.0000\",\n    \"lowerBound\": \"12000.0000\",\n    \"feeTierId\": \"1\",\n    \"tradingAccountId\": \"111234567890\"\n  }\n}\n```\n### Remove Amm instruction\n```json\n{\n  \"timestamp\": \"<TIMESTAMP>\",\n  \"nonce\": \"<NONCE>\",\n  \"authorizer\": \"<AUTHORIZER>\"\n  \"command\": {\n    \"commandType\": \"V2RemoveLiquidity\",\n    \"liquidityId\": \"557839859386417160\",\n    \"symbol\": \"BTCUSD\",\n    \"tradingAccountId\": \"111234567890\"\n  }\n}\n```\n\n### Command for Transfer Asset \n`POST /trading-api/v1/command?commandType=V1TransferAsset`\n\n```json\n{\n  \"timestamp\": \"<TIMESTAMP>\",\n  \"nonce\": \"<NONCE>\",\n  \"authorizer\": \"<AUTHORIZER>\"\n  \"command\": {\n    \"commandType\": \"V1TransferAsset\",\n    \"assetSymbol\": \"USD\",\n    \"quantity\": \"7.0000\",\n    \"fromTradingAccountId\": \"11123456789\",\n    \"toTradingAccountId\": \"11198765432\"\n  }\n}\n```\n\n## Construct The BX-SIGNATURE Header\n\nThe following signing formats demonstrates how to obtain the `BX-SIGNATURE` header.\n\n## Signing Format\n\nThis signing format works with `/trading-api/v2/orders`, `/trading-api/v2/amm-instructions`, `/trading-api/v2/command` and [Custody](#tag--custody) APIs. \nThis signing format has the following benefits:\n- Null fields need not be included in the HTTP request body\n- Fields need not be strictly ordered in the HTTP request body\n\nConstruct a string that concatenates the following fields:\n- timestamp - value provided for the `BX-TIMESTAMP` header\n- nonce - value provided for the `BX-NONCE`\n- request method - e.g. `POST`\n- request path - e.g. `/trading-api/v2/orders`\n- request JSON string, removing any spaces and newline characters.\n\nNote that the same request JSON string used in signing must be sent as the HTTP request body.\n\n#### How To Sign - ECDSA API Key\n\n1. Hash the above string using a SHA-256 hash function and sign the resulting hexdigest with your ECDSA `<PRIVATE_KEY>`.\n2. DER encode the signature, and base64 encode the DER encoded signature.  \n\nSee [sign a request with ECDSA](https://github.com/bullish-exchange/api-examples/blob/master/orders/create_order_ecdsa.py) for a sample Python script.\n\n#### How To Sign - HMAC API Key\n\n1. Hash the above string using a SHA-256 hash function and take the hexdigest.\n2. Sign the hexdigest from step 2 with your HMAC Secret Key.  \n\nSee [sign a request with HMAC](https://github.com/bullish-exchange/api-examples/blob/master/orders/create_order_hmac.py) for a sample Python script.\n\n## Fetch Trading Account Ids\n\nTrading Account Ids may be required by some endpoints. They can be fetched from [Get All Trading Accounts](#get-/v1/accounts/trading-accounts).\n\nSee an API example [Here](https://github.com/bullish-exchange/api-examples/blob/master/session/get_trading_accounts.py).\n\n## Send The HTTP Authenticated Request\n\nSee [create an order](https://github.com/bullish-exchange/api-examples/blob/master/orders/create_order_hmac.py) for a sample Python script.\n\n## How To Ensure The Order Of *Create Order* or *Cancel Order* Requests\n\nTo ensure the order of the *create order* or *cancel order* requests,\nyou must wait for an acknowledgement response which will contain the `orderId`\ngenerated on the server side.\nAlso remember that the `nonce` parameter, for these two requests, must be a\nunique increasing integer value.\n\nFor example, let us assume the following:\n* You sent 10 *create order* requests in a row without waiting for an `orderId`\n* The `nonce` increases with each request sent and thus\n* The `nonce` is unique for each request\n\nBecause the requests received by the Bullish exchange are processed in parallel\nthe following two possible scenarios can happen:\n* *happy scenario* which has a small chance to occur: all 10 requests are\nprocessed in the exact order sent by the client, no error, all great and you\nare happy\n* *unhappy scenario* which has a higher chance to occur: the requests are not\nprocessed in the exact order sent by you, because the requests might arrive at the\nbullish processing server at different times and thus the validations\nof the `nonce` for each request take place at random times. Because of that all\nthe requests that are validated and have the `nonce` higher than the latest\nvalid `nonce` will be accepted as valid and the ones which have the `nonce`\nsmaller than the last valid `nonce` will be considered invalid and dropped.\nIn the worse case scenario the request with the highest `nonce`, the 10th request\nyou sent, is validated first, and the rest of the 9 requests will fail the\nvalidation because they have the `nonce` smaller than the 10th.\nAlso if some requests are failing because of some other errors, e.g. incorrect\ninputs or internal error, you will not know because you did not wait for the\nacknowledgement from the server side for each request you sent.\n\nIf you wait the acknowledgement from the server side you ensure the order of\nthe requests you sent and you can also verify the status of the order(s) you\ncreated or cancelled.\n\n## How To Enable Out-Of-Order Processing of Order Requests\nThe header `BX-NONCE-WINDOW-ENABLED` is a string representation of a boolean value which enables out-of-order \nprocessing of *Create Order* or *Cancel Order* requests up to a window size of 100 from the highest previously used\n`nonce` value (inclusive).\n\nThe `nonce` parameter is required to be both unique and incremental, but setting `BX-NONCE-WINDOW-ENABLED` to `true` \nloosens this requirement such that the `nonce` is only required to be `unique`. For example, the client is able to \nsend `nonce` values from `1...100` in any order and all the values will be valid.   \n\n## How do EMS/Brokers Flag Their Executions Sent To Bullish\nThe header `BX-REFERRER` value is a unique identifier that can be used by EMS/brokers to flag their executions sent to Bullish.\n\nThis referrer header is applicable to the below mentioned authenticated endpoints:\n  1. [Create Order](#post-/v2/orders)\n  2. [Create OTC Trade](#post-/v2/otc-trades)\n\nFor more details, please reach out to your relationship manager to understand which referrer you are assigned.\n\n# WebSockets\n\nConnection request to the web-socket uses [JWT_COOKIE based authentication](https://github.com/bullish-exchange/api-examples/blob/master/websocket/private_data_web_socket.py).\nTo generate a JWT token see - [Generate A JWT Token](#overview--generate-a-jwt-token). Each web-socket exposes a set of\ntopics that can be subscribed to.\n\n## Servers\n  - `wss://api.exchange.bullish.com` - PRODUCTION\n  - `wss://registered.api.exchange.bullish.com` - PRODUCTION\n  - `wss://prod.access.bullish.com` - PRODUCTION (Direct Connect)\n  - `wss://api.simnext.bullish-test.com` - SANDBOX\n  - `wss://registered.api.simnext.bullish-test.com` - SANDBOX\n  - `wss://simnext.access.bullish.com` - SANDBOX  (Direct Connect)\n\n## Max Open WebSocket Connections\n\nEach WebSocket category has a maximum number of open connections. Once it is reached, new WebSocket requests will be rejected. \nThe WebSocket connections fall under the below categories.\n\n- Unauthenticated WebSockets, maximum of 100 open connections per IP address.\n- Authenticated WebSockets, maximum of 10 open connections per API key.\n\n## Send A Message Over The WebSocket\n\nMessages sent by the client to the server over a web-socket follows the\n[JSON-RPC 2.0 Specification](https://www.jsonrpc.org/specification). The server then returns a response following\nthe same JSON-RPC 2.0 format. The `id` field sent by the client will be included in the response, allowing the\nclient to map the server's responses to the messages sent by the client. The client ensures the uniqueness of the\n`id` field.\n\nFind below the message types accepted by the web-socket:\n  1. [Subscription Message](#overview--subscribe-to-a-topic)\n  2. [Keepalive Ping Message](#overview--keep-websocket-open)\n\n## Subscribe To A Topic\n\nSubscribe to receive a snapshot of your existing data and subsequently receive updates.\n\nTwo types of subscription:\n  1. Subscribe by `<TOPIC>`\n  2. Subscribe by `<TOPIC>` and `<SYMBOL>` plus optional fields (if any)\n\nMessage fields:\n  - `<TOPIC>`: subscription topic\n  - `<SYMBOL>`: market symbol\n  - `<COMMAND_ID>`: unique unsigned long value\n\nThe subscription message would be constructed like below:\n\nSubscribe by `<TOPIC>`\n```json\n{\n  \"jsonrpc\": \"2.0\",\n  \"type\": \"command\",\n  \"method\": \"subscribe\",\n  \"params\": {\n      \"topic\": \"<TOPIC>\",\n  },\n  \"id\": \"<COMMAND_ID>\"\n}\n```\n\nSubscribe by `<TOPIC>` and `<SYMBOL>`\n```json\n{\n  \"jsonrpc\": \"2.0\",\n  \"type\": \"command\",\n  \"method\": \"subscribe\",\n  \"params\": {\n      \"topic\": \"<TOPIC>\",\n      \"symbol\": \"<SYMBOL>\",\n  },\n  \"id\": \"<COMMAND_ID>\"\n}\n```\n\nSample subscription messages:\n - Orders\n```json\n{\n  \"jsonrpc\": \"2.0\",\n  \"type\": \"command\",\n  \"method\": \"subscribe\",\n  \"params\": {\n      \"topic\": \"orders\"\n  },\n  \"id\": \"1611082473000\"\n}\n```\n - L1 Order Book\n```json\n{\n  \"jsonrpc\": \"2.0\",\n  \"type\": \"command\",\n  \"method\": \"subscribe\",\n  \"params\": {\n      \"topic\": \"l1Orderbook\"\n      \"symbol\": \"BTCUSD\"\n  },\n  \"id\": \"1611082473000\"\n}\n```\n\nFind below the available `<TOPIC>`:\n  1. [Multi-OrderBook Data WebSocket](#overview--multi-orderbook-websocket-unauthenticated)\n  2. [Anonymous Trades WebSocket](#overview--anonymous-trades-websocket-unauthenticated)\n  2. [Anonymous Market Data WebSocket](#overview--anonymous-market-data-price-tick-unauthenticated)\n  3. [Index Data WebSocket](#overview--index-data-websocket-unauthenticated)\n  4. [Private Data WebSocket](#overview--private-data-websocket-authenticated)\n\n\n## Keep WebSocket Open\n\nKeep the web-socket connection open by sending keepalive ping messages periodically.\nThe web-socket closes automatically after 5 minutes.\n\n\nThe keepalive ping message would be constructed like below:\n\n```json\n{\n  \"jsonrpc\": \"2.0\",\n  \"type\": \"command\",\n  \"method\": \"keepalivePing\",\n  \"params\": {},\n  \"id\": \"<COMMAND_ID>\"\n}\n```\n\n## Receive A Message From The WebSocket\n\nJSON-RPC responses are of the following format:\n\nSuccess responses\n```json\n{\n  \"jsonrpc\": \"2.0\",\n  \"id\": \"1650865877698\",\n  \"result\": {\n    \"responseCode\": \"200\",\n    \"responseCodeName\": \"OK\",\n    \"message\": \"Successfully subscribed\"\n  }\n}\n```\n\nError responses\n```json\n{\n  \"jsonrpc\": \"2.0\",\n  \"id\": \"1650865877698\",\n  \"error\": {\n    \"code\": \"-32602\",\n    \"errorCode\": \"29013\",\n    \"errorCodeName\": \"INVALID_TOPIC_ERROR\",\n    \"message\": \"'a-random-topic' is not a valid topic\"\n}\n```\n\n- `code`: [JSON-RPC 2.0 error code](https://www.jsonrpc.org/specification)\n- `responseCode`/`errorCode`: unique ID for response/error code\n- `responseCodeName`/`errorCodeName`: unique name for response/error code\n- `message`: textual description of the `responseCode`/`errorCode`\n\n\nSnapshot responses are of the following format:\n```json\n{\n  \"type\": \"snapshot\",\n  \"dataType\": \"<DATA_TYPE>\",\n  \"data\": [ { <TOPIC_RESPONSE> } ]\n}\n```\n\nUpdate responses are of the following format:\n```json\n{\n  \"type\": \"update\",\n  \"dataType\": \"<DATA_TYPE>\",\n  \"data\": { <TOPIC_RESPONSE> }\n}\n```\n\nError responses are of the following format:\n```json\n{\n  \"type\": \"error\",\n  \"dataType\": \"V1TAErrorResponse\",\n  \"data\": {\n    \"errorCode\": <ERROR_CODE>,\n    \"errorCodeName\": \"<ERROR_CODE_NAME>\"\n  }\n}\n```\n\n## Heartbeat\n- this is a `beta/experimental` feature that is currently being tested\n- the heart beat message is periodically sent approximately every 30 seconds on the `heartbeat` topic for the [Private Data WebSocket](#overview--private-data-websocket-authenticated) API and [Multi-OrderBook WebSocket)](#overview--multi-orderbook-websocket-unauthenticated) API\n- the heat beat serves to validate end to end communication between the exchange and the client\n- if 3 heart beats are missed, then it is advisable to check the [official status page](https://bullish.statuspage.io/) for any announcements on the degradation of the exchanges features\n- if no announcements have been made, it is advisable to disconnect and reconnect the websocket API given the issue may be isolated to a specific gateway\n\n## Multi-OrderBook WebSocket (unauthenticated)\n**Route**\n- `/trading-api/v1/market-data/orderbook`\n\nThis allows simultaneous subscriptions to multiple L1 and L2 orderbooks of different markets:\n\nIt also provides a heartbeat topic which sends heartbeat every 30s as an indicator of platform healthiness. Please refer to the [heartbeat session](#overview--heartbeat) for the details.\n\n### Multi-Orderbook Subscription\nThe orderbooks of different markets to be subscribed are controlled by the parameters in the subscription message listed below:\n| Parameters            | Type   | Description                                                                     |\n|:----------------------|:-------|:--------------------------------------------------------------------------------|\n| topic                 | String | l1 orderbook: l1Orderbook<br />l2 orderbook: l2Orderbook<br />heartbeat: heartbeat  |\n| symbol                | String | market symbol                                                                   |\n\nL1 Subscription Message Sample:\n```json\n{\n  \"jsonrpc\": \"2.0\",\n  \"type\": \"command\",\n  \"method\": \"subscribe\",\n  \"params\": {\n      \"topic\": \"l1Orderbook\",\n      \"symbol\": \"BTCUSD\"\n  },\n  \"id\": \"1611082473000\"\n}\n```\n\nL2 Subscription Message Sample:\n```json\n{\n  \"jsonrpc\": \"2.0\",\n  \"type\": \"command\",\n  \"method\": \"subscribe\",\n  \"params\": {\n      \"topic\": \"l2Orderbook\",\n      \"symbol\": \"BTCUSD\"\n  },\n  \"id\": \"1611082473000\"\n}\n```\n\nHeartbeat Subscription Message Sample:\n```json\n{\n  \"jsonrpc\": \"2.0\",\n  \"type\": \"command\",\n  \"method\": \"subscribe\",\n  \"params\": {\n      \"topic\": \"heartbeat\"\n  },\n  \"id\": \"1611082473000\"\n}\n```\n\n### Multi-Orderbook Response\n\n* L1 Update Response\n| Name           | Type   | Description                                                                                                   |\n|:---------------|:-------|:--------------------------------------------------------------------------------------------------------------|\n| sequenceNumber | String | incrementing, unique, unsigned integer that identifies a state of the L1-orderbook                            |\n| symbol         | String | market symbol                                                                                                 |\n| timestamp      | String | denotes the time the update was created                                                                       |\n| bid            | Array  | nested array containing price and quantity of highest bid                                                     |\n| ask            | Array  | nested array containing price and quantity of lowest ask                                                      |\n\n\n```json\n{\n  \"type\": \"update\",\n  \"dataType\": \"V1TALevel1\",\n  \"data\": {\n    \"symbol\": \"BTCUSD\",\n    \"bid\": [\n      \"5199.5000\",\n      \"61.95995262\"\n    ],\n    \"ask\": [\n      \"5199.6000\",\n      \"96.59626782\"\n    ],\n    \"sequenceNumber\": \"8\",\n    \"datetime\": \"2020-06-29T06:28:55.500Z\",\n    \"timestamp\": \"1593412135500\"\n  }\n}\n``` \n\n* L2 Snapshot Response\n\n| Name                    | Type   | Description                                                                                                                                                                                                              |\n|---------------------    |--------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| symbol                  | String | market symbol                                                                                                                                                                                                            |\n| bids                    | Array  | array of size 200 where even indices denote price, odd indices denote absolute quantities                                                                                                                                |\n| asks                    | Array  | array of size 200 where even indices denote price, odd indices denote absolute quantities                                                                                                                                |\n| sequenceNumberRange     | Array  | array of size 2 where first element denotes lower bound, second element denotes upper bound of sequence numbers <br /> lower and upper bound are equal for initial snapshot; this may differ for subsequent snapshots    |\n| datetime                | String | denotes the time the update was created by the engine, ISO 8601 with millisecond as string                                                                                                                               |\n| timestamp               | String | denotes the time the update was created by the engine                                                                                                                                                                    |\n| publishedAtTimestamp    | String | denotes the time the update was broadcasted to connected websockets                                                                                                                                                      |\n\n```json\n{\n  \"type\": \"snapshot\",\n  \"dataType\": \"V1TALevel2\",\n  \"data\": {\n    \"symbol\": \"BTCUSDC\",\n    \"bids\": [\n      \"5199.5000\",\n      \"110.92467647\",\n      \"5199.4000\",\n      \"20.92470365\",\n      \"5199.3000\",\n      \"0.92473034\",\n      \"5199.2000\",\n      \"0.92475701\",\n      \"5199.1000\",\n      \"0.92478369\",\n      \"5199.0000\",\n      \"0.92481038\",\n      \"5198.9000\",\n      \"0.92483705\",\n      \"5198.8000\",\n      \"0.92486375\",\n      \"5198.7000\",\n      \"0.92489042\",\n      \"5198.6000\",\n      \"0.92491712\"\n    ],\n    \"asks\": [\n      \"5199.6000\",\n      \"96.37848193\",\n      \"5199.7000\",\n      \"0.92465082\",\n      \"5199.8000\",\n      \"11.04464563\",\n      \"5199.9000\",\n      \"0.92459696\",\n      \"5200.0000\",\n      \"0.92457029\",\n      \"5200.1000\",\n      \"0.92454362\",\n      \"5200.2000\",\n      \"0.92451695\",\n      \"5200.3000\",\n      \"0.92449028\",\n      \"5200.4000\",\n      \"0.92446361\",\n      \"5200.5000\",\n      \"0.92443695\"\n    ],\n    \"sequenceNumberRange\": [\n        1370055970,\n        1370055970\n    ],\n    \"datetime\": \"2025-02-14T07:15:33.797Z\",\n    \"timestamp\": \"1739517333797\",\n    \"publishedAtTimestamp\": \"1739517333798\"\n  }\n}\n```\n\nSee [connect to multi-orderbook web-socket](https://github.com/bullish-exchange/api-examples/blob/master/websocket/multi_orderbook_web_socket.py) for a sample Python script.\n\n## Unified Anonymous Trades WebSocket (unauthenticated)\n**Route**\n- `/trading-api/v1/market-data/trades`\n\nThis allows simultaneous trade subscriptions to multiple markets. Additionally, instead of sending trades one by one, trades are sent in batches.\n\nUpon subscribing to a market, the client will first receive a snapshot of the latest 100 trades, followed by batches of trade updates.\n\n### Unified Anonymous Trade Subscription\nAnonymous trades from different markets to be subscribed to are controlled by the parameters in the subscription message listed below:\n| Parameters            | Type   | Description                                                                     |\n|:----------------------|:-------|:--------------------------------------------------------------------------------|\n| topic                 | String | anonymousTrades                                                                 |\n| symbol                | String | market symbol                                                                   |\n\nTrade Subscription Message Sample:\n```json\n{\n  \"jsonrpc\": \"2.0\",\n  \"type\": \"command\",\n  \"method\": \"subscribe\",\n  \"params\": {\n      \"topic\": \"anonymousTrades\",\n      \"symbol\": \"BTCUSDC\"\n  },\n  \"id\": \"1611082473000\"\n}\n```\n\n### Trade Response Fields\nEach trade in a snapshot or update contains the following fields:\n| Name                 | Type      | Description                                                                               |\n|:---------------------|:----------|:------------------------------------------------------------------------------------------|\n| tradeId              | String    | unique trade ID                                                                           |\n| symbol               | String    | market symbol                                                                             |\n| price                | String    | price, see [asset value](#overview--price-and-quantity-precision) format                  |\n| quantity             | String    | quantity, see [asset value](#overview--price-and-quantity-precision) format               |\n| side                 | String    | order side                                                                                |\n| isTaker              | Boolean   | denotes whether this is a taker's trade                                                   |\n| otcMatchId           | String    | unique OTC match id                                                                       |\n| otcTradeId           | String    | unique Bullish OTC trade id                                                               |\n| clientOtcTradeId     | String    | unique client OTC trade id                                                                |\n| createdAtTimestamp   | String    | denotes the time the order was ACK'd by the exchange                                      |\n| createdAtDatetime    | String    | denotes the time the order was ACK'd by the exchange, ISO 8601 with millisecond as string |\n| publishedAtTimestamp | String    | denotes the time the update was broadcasted to connected websockets                       |\n\n### Unified Anonymous Trade Snapshot Response\nThe client will receive a trade snapshot with the latest 100 trades upon subscription.\n\nSample:\n```json\n{\n  \"type\": \"snapshot\",\n  \"dataType\": \"V1TAAnonymousTradeUpdate\",\n  \"data\": {\n    \"trades\": [\n      {\n        \"tradeId\": \"100069000000063765\",\n        \"isTaker\": true,\n        \"price\": \"23404.8636\",\n        \"createdAtTimestamp\": \"1721879160353\",\n        \"quantity\": \"0.00029411\",\n        \"publishedAtTimestamp\": \"1721879162124\",\n        \"side\": \"SELL\",\n        \"createdAtDatetime\": \"2024-07-25T03:46:00.353Z\",\n        \"symbol\": \"BTCUSDC\",\n        \"otcMatchId\": \"1\",\n        \"otcTradeId\": \"200069000000063765\",\n        \"clientOtcTradeId\": \"300069000000063765\"\n      },\n      {\n        \"tradeId\": \"100069000000063764\",\n        \"isTaker\": true,\n        \"price\": \"23405.3380\",\n        \"createdAtTimestamp\": \"1721879155351\",\n        \"quantity\": \"0.00029411\",\n        \"publishedAtTimestamp\": \"1721879162124\",\n        \"side\": \"SELL\",\n        \"createdAtDatetime\": \"2024-07-25T03:45:55.351Z\",\n        \"symbol\": \"BTCUSDC\",\n        \"otcMatchId\": \"2\",\n        \"otcTradeId\": \"200069000000063764\",\n        \"clientOtcTradeId\": \"300069000000063764\"\n      },\n      ...\n      {\n          \"tradeId\": \"100069000000063666\",\n          \"isTaker\": true,\n          \"price\": \"23001.8708\",\n          \"createdAtTimestamp\": \"1721879028067\",\n          \"quantity\": \"0.00029411\",\n          \"publishedAtTimestamp\": \"1721879162124\",\n          \"side\": \"SELL\",\n          \"createdAtDatetime\": \"2024-07-25T03:43:48.067Z\",\n          \"symbol\": \"BTCUSDC\"\n      }\n    ],\n    \"createdAtTimestamp\": \"1721879160353\",\n    \"publishedAtTimestamp\": \"1721879162125\",\n    \"symbol\": \"BTCUSDC\"\n  }\n}\n```\n\n### Unified Anonymous Trade Update Response\nAfter receiving the snapshot, the client will receive subsequent trade updates in batches.\n\nSample:\n```json\n{\n  \"type\": \"update\",\n  \"dataType\": \"V1TAAnonymousTradeUpdate\",\n  \"data\": {\n    \"trades\": [\n      {\n        \"tradeId\": \"100028000018887830\",\n        \"isTaker\": true,\n        \"price\": \"111.8940\",\n        \"createdAtTimestamp\": \"1722408780738\",\n        \"quantity\": \"0.00100000\",\n        \"publishedAtTimestamp\": \"1722408780790\",\n        \"side\": \"BUY\",\n        \"createdAtDatetime\": \"2024-07-31T06:53:00.738Z\",\n        \"symbol\": \"BTCUSDC\"\n      },\n      {\n        \"tradeId\": \"100028000018887837\",\n        \"isTaker\": false,\n        \"price\": \"111.8716\",\n        \"createdAtTimestamp\": \"1722408780738\",\n        \"quantity\": \"0.00009595\",\n        \"publishedAtTimestamp\": \"1722408780790\",\n        \"side\": \"SELL\",\n        \"createdAtDatetime\": \"2024-07-31T06:53:00.738Z\",\n        \"symbol\": \"BTCUSDC\",\n        \"otcMatchId\": \"10\",\n        \"otcTradeId\": \"200028000018887837\",\n        \"clientOtcTradeId\": \"300028000018887837\"\n      },\n      ...\n      {\n        \"tradeId\": \"100028000018887992\",\n        \"isTaker\": true,\n        \"price\": \"112.2896\",\n        \"createdAtTimestamp\": \"1722408780786\",\n        \"quantity\": \"0.00100000\",\n        \"publishedAtTimestamp\": \"1722408780790\",\n        \"side\": \"BUY\",\n        \"createdAtDatetime\": \"2024-07-31T06:53:00.786Z\",\n        \"symbol\": \"BTCUSDC\",\n        \"otcMatchId\": \"11\",\n        \"otcTradeId\": \"200028000018887992\",\n        \"clientOtcTradeId\": \"300028000018887992\"\n      }\n    ],\n    \"createdAtTimestamp\": \"1722408780786\",\n    \"publishedAtTimestamp\": \"1722408780790\",\n    \"symbol\": \"BTCUSDC\"\n  }\n}\n```\n\n## Unified Anonymous Tick WebSocket (unauthenticated)\n**Route**\n- `/trading-api/v1/market-data/tick`\n\nThis allows simultaneous tick subscriptions to multiple markets. \n\nUpon subscribing to a market, the client will first receive a snapshot of latest ticker, followed by updates. \nSee the data model: [Get Market Tick](#get-/v1/markets/-symbol-/tick)\n\n### Unified Anonymous Tick Subscription\nTick of different markets to be subscribed to, are controlled by parameters in the subscription message listed below:\n| Parameters            | Type   | Description                                                                     |\n|:----------------------|:-------|:--------------------------------------------------------------------------------|\n| topic                 | String | `tick`                                                                        |\n| symbol                | String | market symbol such as `BTCUSDC`                                                 |\n\n### Tick Subscription Message Sample:\n```json\n{\n  \"jsonrpc\": \"2.0\",\n  \"type\": \"command\",\n  \"method\": \"subscribe\",\n  \"params\": {\n      \"topic\": \"tick\",\n      \"symbol\": \"BTCUSD\"\n  },\n  \"id\": \"1611082473000\"\n}\n```\n\n### Keepalive Message Sample:\n```json\n{\n  \"jsonrpc\": \"2.0\",\n  \"type\": \"command\",\n  \"method\": \"keepalivePing\",\n  \"params\": {},\n  \"id\": \"1611082473001\"\n}\n```\n\n### Tick response example\n```json\n{\n  \"type\": \"snapshot\",\n  \"dataType\": \"V1TATickerResponse\",\n  \"data\": {\n    \"askVolume\": \"3.56000000\",\n    \"average\": \"5200.0400\",\n    \"baseVolume\": \"1.00000000\",\n    \"bestAsk\": \"6543.0000\",\n    \"bestBid\": \"2345.0000\",\n    \"bidVolume\": \"2.00000000\",\n    \"change\": \"0.0000\",\n    \"close\": \"5200.0400\",\n    \"createdAtTimestamp\": \"1591058897000\",\n    \"publishedAtTimestamp\": \"1591058898000\",\n    \"high\": \"5200.0400\",\n    \"last\": \"5200.0400\",\n    \"lastTradeDatetime\": \"2020-06-02T00:40:39.500Z\",\n    \"lastTradeSize\": \"1.00000000\",\n    \"low\": \"5200.0400\",\n    \"open\": \"5200.0400\",\n    \"percentage\": \"0.00\",\n    \"quoteVolume\": \"5200.0400\",\n    \"symbol\": \"BTC-USDC-PERP\",\n    \"type\": \"ticker\",\n    \"vwap\": \"5200.0400\",\n    \"currentPrice\": \"0.0007\",\n    \"ammData\": [\n      {\n        \"feeTierId\": \"1\",\n        \"currentPrice\": \"0.0007\",\n        \"baseReservesQuantity\": \"96153.00000000\",\n        \"quoteReservesQuantity\": \"500005200.0400\",\n        \"bidSpreadFee\": \"0.00000005\",\n        \"askSpreadFee\": \"0.00000006\"\n      },\n      {\n        \"feeTierId\": \"2\",\n        \"currentPrice\": \"0.0017\",\n        \"baseReservesQuantity\": \"96153.00000000\",\n        \"quoteReservesQuantity\": \"500005200.0400\",\n        \"bidSpreadFee\": \"0.00000015\",\n        \"askSpreadFee\": \"0.00000016\"\n      }\n    ],\n    \"createdAtDatetime\": \"2020-06-02T00:48:17.000Z\",\n    \"markPrice\": \"26000.0000\",\n    \"fundingRate\": \"0.114100\",\n    \"openInterest\": \"9.00000000\"\n  }\n}\n```\n\n## Anonymous Market Data Price Tick (unauthenticated)\n**Route**\n- `/trading-api/v1/market-data/tick/{symbol}`\n\n**Note**: This endpoint does not require subscriptions.\n\nOn connection, the client receives current Tick by Market Symbol. See the data model: [Get Market Tick](#get-/v1/markets/-symbol-/tick)\n\n### Tick response example\n```json\n{\n  \"type\": \"snapshot\",\n  \"dataType\": \"V1TATickerResponse\",\n  \"data\": {\n    \"askVolume\": \"3.56000000\",\n    \"average\": \"5200.0400\",\n    \"baseVolume\": \"1.00000000\",\n    \"bestAsk\": \"6543.0000\",\n    \"bestBid\": \"2345.0000\",\n    \"bidVolume\": \"2.00000000\",\n    \"change\": \"0.0000\",\n    \"close\": \"5200.0400\",\n    \"createdAtTimestamp\": \"1591058897000\",\n    \"publishedAtTimestamp\": \"1591058898000\",\n    \"high\": \"5200.0400\",\n    \"last\": \"5200.0400\",\n    \"lastTradeDatetime\": \"2020-06-02T00:40:39.500Z\",\n    \"lastTradeSize\": \"1.00000000\",\n    \"low\": \"5200.0400\",\n    \"open\": \"5200.0400\",\n    \"percentage\": \"0.00\",\n    \"quoteVolume\": \"5200.0400\",\n    \"symbol\": \"BTC-USDC-PERP\",\n    \"type\": \"ticker\",\n    \"vwap\": \"5200.0400\",\n    \"currentPrice\": \"0.0007\",\n    \"ammData\": [\n      {\n        \"feeTierId\": \"1\",\n        \"currentPrice\": \"0.0007\",\n        \"baseReservesQuantity\": \"96153.00000000\",\n        \"quoteReservesQuantity\": \"500005200.0400\",\n        \"bidSpreadFee\": \"0.00000005\",\n        \"askSpreadFee\": \"0.00000006\"\n      },\n      {\n        \"feeTierId\": \"2\",\n        \"currentPrice\": \"0.0017\",\n        \"baseReservesQuantity\": \"96153.00000000\",\n        \"quoteReservesQuantity\": \"500005200.0400\",\n        \"bidSpreadFee\": \"0.00000015\",\n        \"askSpreadFee\": \"0.00000016\"\n      }\n    ],\n    \"createdAtDatetime\": \"2020-06-02T00:48:17.000Z\",\n    \"markPrice\": \"26000.0000\",\n    \"fundingRate\": \"0.114100\",\n    \"openInterest\": \"9.00000000\"\n  }\n}\n```\n\n\n## Index Data websocket (unauthenticated)\n**Route**\n- `/trading-api/v1/index-data`\n\n### Index Price Subscription\nThe index price of different assets to be subscribed are controlled by the parameters in the subscription message listed below:\n| Parameters            | Type   | Description                                                                     |\n|:----------------------|:-------|:--------------------------------------------------------------------------------|\n| topic                 | String | Index Price: `indexPrice` <br/>                                                   |\n| assetSymbol           | String | Asset symbol, such as `BTC` or `USDC`                                           |\n\nIndex Price Subscription Sample:\n```json\n{\n  \"jsonrpc\": \"2.0\",\n  \"type\": \"command\",\n  \"method\": \"subscribe\",\n  \"params\": {\n      \"topic\": \"indexPrice\",\n      \"assetSymbol\": \"USDC\"\n  },\n  \"id\": \"1611082473000\"\n}\n```\n\n### IndexPrice Response\nOn successful subscription for an `assetSymbol`, the client receives a snapshot with the current index price, and updates after. \n\n| Name                 | Type      | Description                                                                               |\n|:---------------------|:----------|:------------------------------------------------------------------------------------------|\n| assetSymbol          | String    | asset symbol                                                                              |\n| price                | String    | price in USD, see [asset value](#overview--price-and-quantity-precision) format           |\n| updatedAtDatetime    | String    | denotes the time the index price was updated by the exchange, in ISO 8601 format          |\n| updatedAtTimestamp   | String    | denotes the epoch millisecond time the index price was updated by the exchange            |\n\n```json\n{\n  \"type\": \"update\",\n  \"dataType\": \"V1TAIndexPrice\",\n  \"data\": {\n    \"assetSymbol\": \"USDC\",\n    \"price\": \"1.0000\",\n    \"updatedAtDatetime\": \"2024-06-29T06:29:50.500Z\",\n    \"updatedAtTimestamp\": \"1719642590000\"\n  }\n}\n```\n\n## Private Data WebSocket (authenticated)\n- All private data updates are realtime.\n\nEstablishing a websocket connection\n1. Getting private data from a single trading account.\n  - Connect to `/trading-api/v1/private-data?tradingAccountId=<Id of the Trading Account>`\n  - For example, to subscribe to the `orders` topic, the following subscription message is sent:\n  ```json\n    {\n        \"jsonrpc\": \"2.0\",\n        \"type\": \"command\",\n        \"method\": \"subscribe\",\n        \"params\": {\n            \"topic\": \"orders\"\n        },\n        \"id\": \"1611082473000\"\n    }\n  ```\n  - It is possible to subscribe to multiple topics with a single subscription message. For example, a topic of `assetAccounts+derivativesPositionsV2` \n    would subscribe to both `assetAccounts` and `derivativesPositionsV2`\n\n2. Getting private data from multiple trading accounts.\n  - Connect to `/trading-api/v1/private-data`\n  - For example, to subscribe to the `orders` topic for each of your trading accounts, the following subscription message is sent for each trading account you wish to subscribe to:\n  ```json\n    {\n        \"jsonrpc\": \"2.0\",\n        \"type\": \"command\",\n        \"method\": \"subscribe\",\n        \"params\": {\n            \"topic\": \"orders\",\n            \"tradingAccountId\": \"<Id of the Trading Account>\"\n        },\n        \"id\": \"1611082473000\"\n    }\n  ```\n\n| Topic                  | Description                                                                                                                           | Data Type                | Subscription Type |\n| :--                    | :--                                                                                                                                   | :--                      | :--               |\n| orders                 | Provides snapshot and updates on your orders. The snapshot will contain all open orders and the 20 most recent closed orders.         | `V1TAOrder`              | By `<TOPIC>`      |\n| trades                 | Provides snapshot and updates on your trades. The snapshot will contain the 20 most recent trades.                                    | `V1TATrade`              | By `<TOPIC>`      |\n| ~spotAccounts~         | `Deprecated`[[more info](.././deprecated/index.html#overview--spot-account)] Provides snapshot and updates on assets in your account. | `V1TASpotAccount`        | By `<TOPIC>`      |\n| assetAccounts          | Provides snapshot and updates on assets in your account.                                                                              | `V1TAAssetAccount`       | By `<TOPIC>`      |\n| tradingAccounts        | Provides snapshot and updates on your trading account summary.                                                                        | `V1TATradingAccount`     | By `<TOPIC>`      |\n| heartbeat              | Provides heartbeat updates for healthcheck.                                                                                           | `V1TAHeartbeat`          | By `<TOPIC>`      |\n| ~derivativesPositions~ | `Deprecated`[*Replaced by:* `derivativesPositionsV2`] Provides derivative position information on your trading account.               | `V1TAPerpetualPosition`  | By `<TOPIC>`      |\n| derivativesPositionsV2 | Provides derivative position information on your trading account.                                                                     | `V1TADerivativesPosition`| By `<TOPIC>`      |\n| ammInstructions        | Provides amm instructions update on your trading account.                                                                             | `V1TAAmmInstruction`     | By `<TOPIC>`      |\n| mmpTrigger             | Provides snapshot and updates on your market maker protection trigger events.                                                         | `V1TAMMPTrigger`         | By `<TOPIC>`      |\n| mmpRequest             | Provides snapshot and updates on your market maker protection configurations.                                                         | `V1TAMMPConfigRequest`   | By `<TOPIC>`      |\n### orders response\n\n| Name                  | Type      | Description                                                                                                                                                                                        |\n|:-------------------   |:----------|:------------------------------------------------------------------------------------------                                                                                                         |\n| ~handle~              | String    | unique numeric (i64) identifier generated on the client side expressed as a string value <br /><br />`Deprecated`*to be remove towards the end of Q3 2024.* <br /> *Replaced by:* `clientOrderId`        |\n| clientOrderId         | String    | unique numeric (i64) identifier generated on the client side expressed as a string value                                                                                                           |\n| orderId               | String    | unique order ID                                                                                                                                                                                    |\n| symbol                | String    | market symbol                                                                                                                                                                                      |\n| price                 | String    | price, see [asset value](#overview--price-and-quantity-precision) format                                                                                                                           |\n| averageFillPrice      | String    | average fill price, see [asset value](#overview--price-and-quantity-precision) format                                                                                                              |\n| stopPrice             | String    | stop price, see [asset value](#overview--price-and-quantity-precision) format                                                                                                                      |\n| ~margin~              | Boolean   | indicates if the order was allowed to borrow (does not indicate that borrowing occurred) <br /><br />`Deprecated`*to be remove towards the end of Q3 2024.* <br /> *Replaced by:* `allowBorrow`          |\n| allowBorrow           | Boolean   | indicates if the order was allowed to borrow (does not indicate that borrowing occurred)                                                                                                           |\n| quantity              | String    | quantity, see [asset value](#overview--price-and-quantity-precision) format                                                                                                                        |\n| quoteAmount           | String    | quote quantity deducted from asset account, see [asset value](#overview--price-and-quantity-precision) format                                                                                      |\n| quantityFilled        | String    | quantity filled, see [asset value](#overview--price-and-quantity-precision) format                                                                                                                 |\n| baseFee               | String    | base fee rate that will be charged upon trade execution, see [asset value](#overview--price-and-quantity-precision) format                                                                                                                        |\n| quoteFee              | String    | quote fee rate that will be charged upon trade execution, see [asset value](#overview--price-and-quantity-precision) format                                                                                                                       |\n| ~borrowedQuantity~    | String    | quantity borrowed, see [asset value](#overview--price-and-quantity-precision) format - BUY order borrows quote, SELL order borrows base <br /><br />`Deprecated`*to be remove towards the end of Q3 2024.* <br /> *Replaced by:* `borrowedBaseQuantity` & `borrowedQuoteQuantity` |\n| borrowedBaseQuantity  | String    | base quantity borrowed, see [asset value](#overview--price-and-quantity-precision) format                                                                                                          |\n| borrowedQuoteQuantity | String    | quote quantity borrowed, see [asset value](#overview--price-and-quantity-precision) format                                                                                                         |\n| isLiquidation         | Boolean   | indicates if the order was executed as a liquidation order                                                                                                                                         |\n| side                  | String    | order side                                                                                                                                                                                         |\n| type                  | String    | order type                                                                                                                                                                                         |\n| timeInForce           | String    | time in force                                                                                                                                                                                      |\n| status                | String    | order status                                                                                                                                                                                       |\n| statusReason          | String    | status reason, describes why the order is in a specific state                                                                                                                                      |\n| statusReasonCode      | Integer   | status reason code, see [details](https://github.com/bullish-exchange/api-docs/wiki/Error-&-Rejection-Codes#order-statusreasoncode-map)                                                                                                                           |\n| createdAtDatetime     | String    | denotes the time the order was ACK'd by the exchange, ISO 8601 with millisecond as string                                                                                                          |\n| createdAtTimestamp    | String    | denotes the time the order was ACK'd by the exchange                                                                                                                                               |\n| publishedAtTimestamp  | String    | denotes the time the update was broadcasted to connected websockets                                                                                                                                |\n\n```json\n{\n  \"tradingAccountId\": \"1111\",\n  \"type\": \"snapshot\",\n  \"dataType\": \"V1TAOrder\",\n  \"data\": [\n    {\n      \"handle\": null,\n      \"orderId\": \"392883006043848705\",\n      \"symbol\": \"BTCUSD\",\n      \"price\": \"66858.2000\",\n      \"averageFillPrice\": \"66858.2000\",\n      \"stopPrice\": null,\n      \"margin\": false,\n      \"quantity\": \"2.00000000\",\n      \"quantityFilled\": \"2.00000000\",\n      \"quoteAmount\": \"23000.0000\",\n      \"baseFee\": \"0.00000000\",\n      \"quoteFee\": \"0.0005\",\n      \"side\": \"BUY\",\n      \"borrowedQuantity\": \"0.0010\",\n      \"isLiquidation\": false,\n      \"type\": \"LMT\",\n      \"timeInForce\": \"GTC\",\n      \"status\": \"CLOSED\",\n      \"statusReason\": \"Executed\",\n      \"statusReasonCode\": 6002,\n      \"createdAtDatetime\": \"2021-12-30T07:36:35.918Z\",\n      \"createdAtTimestamp\": \"1640849795918\",\n      \"publishedAtTimestamp\": \"1640849795920\"\n    }\n  ]\n}\n```\n\n### trades response\n\n| Name                   | Type      | Description                                                                                                    |\n|:-----------------------|:----------|:---------------------------------------------------------------------------------------------------------------|\n| tradeId                | String    | unique trade ID                                                                                                |\n| orderId                | String    | unique order ID                                                                                                |\n| handle                 | String    | unique numeric identifier (i64) generated on the client side expressed as a string value                       |\n| symbol                 | String    | market symbol                                                                                                  |\n| price                  | String    | price, see [asset value](#overview--price-and-quantity-precision) format                                       |\n| quantity               | String    | quantity, see [asset value](#overview--price-and-quantity-precision) format                                    |\n| quoteAmount            | String    | quote quantity deducted from asset account, see [asset value](#overview-price-and-quantity-precision) format   |\n| baseFee                | String    | base fee, see [asset value](#overview--price-and-quantity-precision) format                                    |\n| quoteFee               | String    | quote fee, see [asset value](#overview--price-and-quantity-precision) format                                   |\n| side                   | String    | order side                                                                                                     |\n| tradeRebateAmount      | String    | amount of rebate that is credited to the user as part of the trade                                         |\n| tradeRebateAssetSymbol | String    | symbol of the asset in which the rebate is paid                                                                |\n| isTaker                | Boolean   | denotes whether this is a taker's trade                                                                        |\n| otcMatchId             | String    | unique OTC match id                                                                                            |\n| otcTradeId             | String    | unique Bullish OTC trade id                                                                                    |\n| clientOtcTradeId       | String    | unique client OTC trade id                                                                                     |\n| createdAtDatetime      | String    | denotes the time the trade was executed by the exchange, ISO 8601 with millisecond as string                   |\n| createdAtTimestamp     | String    | denotes the time the trade was executed by the exchange                                                        |\n| publishedAtTimestamp   | String    | denotes the time the update was broadcasted to connected websockets                                            |\n\n```json\n{\n  \"tradingAccountId\": \"1111\",\n  \"type\": \"snapshot\",\n  \"dataType\": \"V1TATrade\",\n  \"data\": [\n    {\n      \"tradeId\": \"100014000000000118\",\n      \"orderId\": \"392883006043848705\",\n      \"handle\": \"123456\",\n      \"symbol\": \"BTCUSD\",\n      \"price\": \"66858.2000\",\n      \"quantity\": \"2.00000000\",\n      \"quoteAmount\": \"23000.0000\",\n      \"baseFee\": \"0.00000000\",\n      \"quoteFee\": \"66.8582\",\n      \"side\": \"BUY\",\n      \"isTaker\": false,\n      \"tradeRebateAmount\": \"3.0000\",\n      \"tradeRebateAssetSymbol\": \"USDC\",\n      \"otcMatchId\": \"15\",\n      \"otcTradeId\": \"200014000000000118\",\n      \"clientOtcTradeId\": \"300014000000000118\",\n      \"createdAtDatetime\": \"2021-12-30T07:36:35.918Z\",\n      \"createdAtTimestamp\": \"1640849795918\",\n      \"publishedAtTimestamp\": \"1640849795920\"\n    }\n  ]\n}\n```\n\n### assetAccounts response\n\n- `V1TAAssetAccount` provides a more granular view of the assets in your trading account compared to `V1TASpotAccount`. \n\n\n| Name                 | Type      | Description                                                                                                                                                                                  |\n|----------------------|-----------|----------------------------------------------------------------------------------------------------------------------------------------------------                                          | \n| tradingAccountId     | String    | id of the trading account                                                                                                                                                                    |\n| assetId              | String    | asset ID                                                                                                                                                                                     |\n| assetSymbol          | String    | asset symbol                                                                                                                                                                                 |\n| availableQuantity    | String    | the assets that are available to use on the account, see [asset value](#overview--price-and-quantity-precision) format                                                                       |\n| borrowedQuantity     | String    | the assets on the account that are borrowed, see [asset value](#overview--price-and-quantity-precision) format                                                                               |\n| lockedQuantity       | String    | the assets on the account that are locked in orders, loans and AMM instructions, see [asset value](#overview--price-and-quantity-precision) format                                           |\n| loanedQuantity       | String    | the assets on the account that are being loaned, see [asset value](#overview--price-and-quantity-precision) format                                                                           |\n| updatedAtDatetime    | String    | denotes the time the asset account was updated by the exchange, ISO 8601 with millisecond as string                                                                                          |\n| updatedAtTimestamp   | String    | denotes the time the asset account was updated by the exchange                                                                                                                               |\n| publishedAtTimestamp | String    | denotes the time the update was broadcasted to connected websockets                                                                                                                          |\n\n```json\n{\n  \"tradingAccountId\": \"1111\",\n  \"type\": \"snapshot\",\n  \"dataType\": \"V1TAAssetAccount\",\n  \"data\": [\n    {\n      \"tradingAccountId\": \"1111\",\n      \"assetId\": \"1\",\n      \"assetSymbol\": \"BTC\",\n      \"availableQuantity\": \"4.00000000\",\n      \"borrowedQuantity\": \"20.00000000\",\n      \"lockedQuantity\": \"0.00000000\",\n      \"loanedQuantity\": \"10.00000000\",\n      \"updatedAtDatetime\": \"2021-12-30T07:36:35.918Z\",\n      \"updatedAtTimestamp\": \"1640849795918\",\n      \"publishedAtTimestamp\": \"1640849795920\"\n    },\n    {\n      \"tradingAccountId\": \"1111\",\n      \"assetId\": \"2\",\n      \"assetSymbol\": \"USD\",\n      \"availableQuantity\": \"229016.0734\",\n      \"borrowedQuantity\": \"20000.0000\",\n      \"lockedQuantity\": \"0.0000\",\n      \"loanedQuantity\": \"10000.0000\",\n      \"updatedAtDatetime\": \"2021-12-30T07:36:35.918Z\",\n      \"updatedAtTimestamp\": \"1640849795918\",\n      \"publishedAtTimestamp\": \"1640849795920\"\n    }\n  ]\n}\n```\n\n### tradingAccounts response\n\n-  Provides a summary of the total borrowed and total collateral values on the specific trading account ID. \n`totalBorrowedQuantity` and `totalCollateralQuantity` do not represent the absolute quantity of the borrowed assets and \nare notional values represented in the reference asset.\n-  `snapshot` contains a list with a single entry corresponding to the trading account ID specified in the `tradingAccountId` \nquery parameter when opening the websocket connection.\n\n| Name                    | Type      | Description                                                                                           |\n|-------------------------|-----------|-------------------------------------------------------------------------------------------------------|\n| tradingAccountId        | String    | id of the trading account                                                                             |\n| totalBorrowedQuantity   | String    | total borrowed across all assets in this trading account displayed in the reference asset             |        \n| totalCollateralQuantity | String    | total collateral across all assets in this trading account displayed in the reference asset           |\n| totalBorrowedUSD        | String    | total borrowed across all assets in this trading account displayed in USD                             |\n| totalCollateralUSD      | String    | total collateral across all assets in this trading account displayed in USD                           |\n| initialMarginUSD        | String    | The minimum margin one must maintain in order to be able to purposefully increase risk                |\n| warningMarginUSD        | String    | The minimum margin when the customer will receive warning via email/notifications over UI             |\n| liquidationMarginUSD    | String    | The minimum value of margin one must maintain in order to avoid liquidation                           |\n| fullLiquidationMarginUSD| String    | The value of margin when full liquidation occurs                                                      |\n| endCustomerId           | String    | The end customer id used for self trade prevention (default is institution id, max 32 characters)     |\n| defaultedMarginUSD      | String    | The value of margin when this trading account will be moved into a Defaulted state                    |\n| riskLimitUSD            | String    | The maximum allowed borrowing for this trading account displayed in USD                               |\n| totalLiabilitiesUSD     | String    | The total liabilities for this trading account displayed in USD                       |\n| maxInitialLeverage      | String    | The maximum initial leverage                                                                          |\n| isPrimaryAccount        | String    | Whether this trading account is the primary account                                                   |\n| isBorrowing             | String    | Whether this trading account is borrowing any asset                                                   |\n| isLending               | String    | Whether this trading account has any open loan offers                                                 |\n| isDefaulted             | String    | Whether this trading account is in a defaulted state                                                  |\n| ~takerFee~                | String    | Deprecated and no longer accurate. See `tradeFeeRate` at [Get Trading Account](#get-/v1/accounts/trading-accounts/-tradingAccountId-) instead |\n| ~makerFee~                | String    | Deprecated and no longer accurate. See `tradeFeeRate` at [Get Trading Account](#get-/v1/accounts/trading-accounts/-tradingAccountId-) instead |\n| referenceAssetSymbol    | String    | asset symbol                                                                                          |\n| liquidityAddonUSD       | String    | Expected market impact of unwinding the portfolio in the case of a liquidation event                  |\n| marketRiskUSD           | String    | The worst possible loss on the portfolio based on scenario analysis                                   |\n| marginProfile                          | Object | Contains the market risk multipliers applied to a trading account to derive the five individual Margin Requirement values         |\n| initialMarketRiskMultiplierPct         | String | Market risk multiplier used to calculate initial margin requirement of the account                                               |\n| warningMarketRiskMultiplierPct         | String | Market risk multiplier used to calculate warning margin requirement of the account                                               |\n| liquidationMarketRiskMultiplierPct     | String | Market risk multiplier used to calculate liquidation margin requirement of the account                                           |\n| fullLiquidationMarketRiskMultiplierPct | String | Market risk multiplier used to calculate full liquidation margin requirement of the account                                      |\n| defaultedMarketRiskMultiplierPct       | String | Market risk multiplier used to calculate defaulted margin requirement of the account                                             | \n| updatedAtDatetime       | String    | denotes the time the trading account was updated by the exchange, ISO 8601 with millisecond as string |\n| updatedAtTimestamp      | String    | denotes the time the trading account was updated by the exchange                                      |\n| publishedAtTimestamp    | String    | denotes the time the update was broadcasted to connected websockets                                   |\n\n```json\n{\n  \"tradingAccountId\": \"1111\",\n  \"type\": \"snapshot\",\n  \"dataType\": \"V1TATradingAccount\",\n  \"data\": [\n    {\n      \"tradingAccountId\": \"1111\",\n      \"totalBorrowedQuantity\": \"12000.0000\",\n      \"totalCollateralQuantity\": \"13000.0000\",\n      \"totalBorrowedUSD\": \"12000.0000\",\n      \"totalCollateralUSD\": \"13000.0000\",\n      \"referenceAssetSymbol\": \"USD\",\n      \"initialMarginUSD\": \"900000.0000\",\n      \"warningMarginUSD\": \"700000.0000\",\n      \"liquidationMarginUSD\": \"600000.0000\",\n      \"fullLiquidationMarginUSD\": \"500000.0000\",\n      \"endCustomerId\" : \"PrimeBroker\",\n      \"defaultedMarginUSD\": \"300000.0000\",\n      \"riskLimitUSD\": \"1000000.0000\",\n      \"totalLiabilitiesUSD\": \"13000.0000\",\n      \"maxInitialLeverage\": \"3\",\n      \"isPrimaryAccount\": true,\n      \"isBorrowing\": true,\n      \"isLending\": false,\n      \"isDefaulted\": false,\n      \"takerFee\": null,\n      \"makerFee\": null,\n      \"liquidityAddonUSD\": \"100.0000\",\n      \"marketRiskUSD\": \"200.0000\",\n      \"marginProfile\": {\n        \"initialMarketRiskMultiplierPct\": \"200.00\",\n        \"warningMarketRiskMultiplierPct\": \"150.00\",\n        \"liquidationMarketRiskMultiplierPct\": \"100.00\",\n        \"fullLiquidationMarketRiskMultiplierPct\": \"75.00\",\n        \"defaultedMarketRiskMultiplierPct\": \"50.00\"\n      },\n      \"updatedAtDatetime\": \"2021-12-30T07:36:35.918Z\",\n      \"updatedAtTimestamp\": \"1640849795918\",\n      \"publishedAtTimestamp\": \"1640849795920\"\n    }\n  ]\n}\n```\n\n### heartbeat response\n\n-  Provides heartbeat update every 30s as an indicator of platform healthiness. Please refer to the [heartbeat session](#overview--heartbeat) for the details.\n\n| Name                    | Type      | Description                                                                                           |\n|-------------------------|-----------|-------------------------------------------------------------------------------------------------------|\n| sequenceNumber          | String    | sequence number of the heartbeat                                                                      |\n| createdAtTimestamp      | String    | time at which the heartbeat is generated                                                              |\n\n```json\n{\n  \"type\": \"update\",\n  \"dataType\": \"V1TAHeartbeat\",\n  \"data\": [\n    {\n      \"sequenceNumber\": \"3\",\n      \"createdAtTimestamp\": \"1611082473000\"\n    }\n  ]\n}\n```\n### Derivative position response\n`Deprecated`: *Topic derivativesPosition will be replaced by `derivativesPositionV2`*\n-  Provide a detail view of the derivative position of each market.\n\n| Name                    | Type      | Description                                                                                                                                                                                                   |\n|-------------------------|-----------|-------------------------------------------------------------------------------------------------------                                                                                                        |\n| tradingAccountId        | String    | Id of the trading account                                                                                                                                                                                     |\n| symbol                  | String    | Market symbol, eg. BTC-USDC-PERP                                                                                                                                                                             |\n| side                    | String    | Side of the position                                                                                                                                                                                          |\n| quantity                | String    | Current size of the  position [asset value](#overview--price-and-quantity-precision) format                                                                                                                   |\n| notional                | String    | Notional value of the current position, calculated using the mark price                                                                                                                                       |\n| entryNotional           | String    | Notional value of the position, using the average entry price                                                                                                                                                 |\n| mtmPnl                  | String    | Sum of all mark-to-market profits and losses plus profits and losses realised from trading, accumulated since the last settlement                                                                             |\n| reportedMtmPnl          | String    | The profit/losses from the net price change since the last time the absolute quantity decreased. It is updated with every mark to market and is not updated during settlement or a position size increase     |\n| reportedFundingPnl      | String    | Sum of all funding payments received  since the position was opened. This is updated every time funding is paid.                                                                                              |\n| realizedPnl             | String    | Total profits realized since the trading account first opened this position. This is only updated every time a position\u2019s absolute quantity (aka size) is reduced.                                            |\n| createdAtDatetime       | String    | denotes the time the position was created by the exchange, ISO 8601 with millisecond as string                                                                                                                |\n| createdAtTimestamp      | String    | denotes the time the position was created by the exchange, number of milliseconds since EPOCH                                                                                                                 |\n| updatedAtDatetime       | String    | denotes the time the position was updated by the exchange, ISO 8601 with millisecond as string                                                                                                                |\n| updatedAtTimestamp      | String    | denotes the time the position was updated by the exchange  number of milliseconds since EPOCH                                                                                                                 |\n| publishedAtTimestamp    | String    | denotes the time the update was broadcasted to connected websockets                                                                                                                                           |\n\n```json\n{\n  \"tradingAccountId\": \"1111\",\n  \"type\": \"snapshot\",\n  \"dataType\": \"V1TAPerpetualPosition\",\n  \"data\": [\n    {\n      \"tradingAccountId\": \"111234567890\",\n      \"symbol\": \"BTC-USDC-PERP\",\n      \"side\": \"BUY\",\n      \"quantity\": \"1.00000000\",\n      \"notional\": \"30000.0000\",\n      \"entryNotional\": \"30000.0000\",\n      \"mtmPnl\": \"110.0000\",\n      \"reportedMtmPnl\": \"120.0000\",\n      \"reportedFundingPnl\": \"130.0000\",\n      \"realizedPnl\": \"140.0000\",\n      \"createdAtDatetime\": \"2020-01-01T00:00:00.000Z\",\n      \"createdAtTimestamp\": \"1577836800000\",\n      \"updatedAtDatetime\": \"2020-01-02T00:00:00.000Z\",\n      \"updatedAtTimestamp\": \"1577923200000\",\n      \"publishedAtTimestamp\": \"1577923300000\"\n    }\n  ]\n}\n```\n### Derivative position V2 response\n-  Provide a detail view of the derivative position of each market.\n\n| Name                    | Type      | Description                                                                                                                                                                                                   |\n|-------------------------|-----------|-------------------------------------------------------------------------------------------------------                                                                                                        |\n| tradingAccountId        | String    | Id of the trading account                                                                                                                                                                                     |\n| symbol                  | String    | Market symbol, eg. BTC-USDC-PERP                                                                                                                                                                              |\n| side                    | String    | Side of the position                                                                                                                                                                                          |\n| quantity                | String    | Current size of the  position [asset value](#overview--price-and-quantity-precision) format                                                                                                                   |\n| notional                | String    | Notional value of the current position, calculated using the mark price                                                                                                                                       |\n| entryNotional           | String    | Notional value of the position, using the average entry price                                                                                                                                                 |\n| mtmPnl                  | String    | Sum of all mark-to-market profits and losses plus profits and losses realised from trading, accumulated since the last settlement                                                                             |\n| reportedMtmPnl          | String    | The profit/losses from the net price change since the last time the absolute quantity decreased. It is updated with every mark to market and is not updated during settlement or a position size increase     |\n| reportedFundingPnl      | String    | Sum of all funding payments received  since the position was opened. This is updated every time funding is paid.                                                                                              |\n| realizedPnl             | String    | Total profits realized since the trading account first opened this position. This is only updated every time a position\u2019s absolute quantity (aka size) is reduced.                                            |\n| settlementAssetSymbol   | String    | Settlement asset symbol                                                                                                                                                                                       |\n| eventType               | String    | Derivatives position update event types                                                                                                                                                                       |\n| createdAtDatetime       | String    | denotes the time the position was created by the exchange, ISO 8601 with millisecond as string                                                                                                                |\n| createdAtTimestamp      | String    | denotes the time the position was created by the exchange, number of milliseconds since EPOCH                                                                                                                 |\n| updatedAtDatetime       | String    | denotes the time the position was updated by the exchange, ISO 8601 with millisecond as string                                                                                                                |\n| updatedAtTimestamp      | String    | denotes the time the position was updated by the exchange  number of milliseconds since EPOCH                                                                                                                 |\n| publishedAtTimestamp    | String    | denotes the time the update was broadcasted to connected websockets                                                                                                                                           |\n\n```json\n{\n  \"tradingAccountId\": \"1111\",\n  \"type\": \"snapshot\",\n  \"dataType\": \"V1TADerivativesPosition\",\n  \"data\": [\n    {\n      \"tradingAccountId\": \"111234567890\",\n      \"symbol\": \"BTC-USDC-PERP\",\n      \"side\": \"BUY\",\n      \"quantity\": \"1.00000000\",\n      \"notional\": \"30000.0000\",\n      \"entryNotional\": \"30000.0000\",\n      \"mtmPnl\": \"110.0000\",\n      \"reportedMtmPnl\": \"120.0000\",\n      \"reportedFundingPnl\": \"130.0000\",\n      \"realizedPnl\": \"140.0000\",\n      \"settlementAssetSymbol\": \"USDC\",\n      \"eventType\": \"settlementUpdate\",\n      \"createdAtDatetime\": \"2020-01-01T00:00:00.000Z\",\n      \"createdAtTimestamp\": \"1577836800000\",\n      \"updatedAtDatetime\": \"2020-01-02T00:00:00.000Z\",\n      \"updatedAtTimestamp\": \"1577923200000\",\n      \"publishedAtTimestamp\": \"1577923300000\"\n    }\n  ]\n}\n```\n### ammInstruction response\n\n- Provides `updates` of the active AMM instructions on the specific trading account ID.\n- This topic does not provide `snapshot`\n\n| Name                  | Type   | Description                                                                                                                                   |\n|-----------------------|--------|-----------------------------------------------------------------------------------------------------------------------------------------------|\n| tradingAccountId      | String | id of the trading account                                                                                                                     |\n| instructionId         | String | unique AMM instruction ID                                                                                                                     |\n| symbol                | String | market symbol                                                                                                                                 |\n| baseFee               | String | base fee, see [asset value](#overview--price-and-quantity-precision) format                                                                   |\n| quoteFee              | String | quote fee, see [asset value](#overview--price-and-quantity-precision) format                                                                  |\n| status                | String | order status                                                                                                                                  |\n| statusReason          | String | status reason, describes why the order is in a specific state                                                                                 |\n| statusReasonCode      | String | status reason code, see [details](#overview--error--rejection-codes)                                                                      |\n| createdAtDatetime     | String | denotes the time the order was ACK'd by the exchange, ISO 8601 with millisecond as string                                                     |\n| createdAtTimestamp    | String | denotes the time the order was ACK'd by the exchange                                                                                          |\n| baseCurrentQuantity   | S
[...]
